:root{
  --bg: #e6c9ee;
  --bg-textarea: #f1cbf7;
  --text-color: #0A3871;
  --text-color-secundary: #495057;
}



  html{

    max-width: 100vw;
    height: 100vh;
   
  }


body{
  background-color: var(--bg);
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

header{
  
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  left: 0px;
  top: 0px;
}



#logo{
  margin: 2rem;
  
}
.containerPrincipal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  margin-left: 1rem;

}

label{
  color: var(--text-color);
  width: auto;
  height: 48px;
  font-size: 2rem;
}

textarea{
  background-color: var(--bg-textarea);
   min-height: 200px;
   padding: 32px;
   font-size: 1.3em;
   resize: both; 
   border: none;
}

textarea:focus{
  outline: none;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}


.btn1{
  background: #0A3871;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 12px;
  width: 208px;
  height: 67px;
  color: #FFF;
  border-radius: 10px;

}

.mensagem{
  display: flex;
  justify-content: center;
  width: 85%;
  /*margin: 3rem;*/
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  box-shadow: 3px 3px #c0afc4, -1em 0 0.4em #c0afc4;
  border-radius: 8px;
}

.mensagem p{
  font-size: 0.9rem;
}

.desktop{
  display: none;
  padding-top: 5rem;
  box-shadow: 3px 3px #c0afc4, -1em 0 0.4em #c0afc4;
  border-radius: 8px;
}

.imagDesktop{
  width: 336px;
  height: 304px;
}

#resultHidden{
  display: none;
 
}

#resultado{
  color:#0A3871;
  height:auto;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.btnCopy{
  display: flex;
  position: relative;
  background: #0A3871;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 38px;
  color: #FFF;
  border-radius: 10px;
  margin-top: 3rem;
  margin-left: 10rem;
  bottom: 1rem;
  left: 0;
 
}

.btnCopy:hover{
  background: #fff;
    color:  #0A3871;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
    transition-timing-function: linear;
}

footer{
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  height: 32px;
  margin-top: 16px;
  padding: 5px 16px;
  position: fixed;
}



@media screen and (min-width:992px) {

  html{
    width:fit-content;
    justify-content: center;
    /*max-width: 130vw;*/
  }

  body{
    width: 90vw;
  }
    
  main {
    display: flex;
       
  }

  .containerPrincipal{
    display: flex;
    flex-direction: column;
    flex: 1 0 550px;
    gap: 3rem;
  }

  textarea{
    width: 800px;
    height: 400px;
  }

  .desktop{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height:80%;
  }

  .desktop h3{
    align-self: center;
    padding-top: 2rem;
    color: var(--text-color);
  }

  .desktop p{
    align-self: center;
    color: var(--text-color-secundary);
    
  }

  .mensagem{
    display: none;
  }

  #resultHidden{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    box-shadow: 3px 3px #c0afc4, -1em 0 0.4em #c0afc4;
    border-radius: 8px;
    width: 400px;
    left: 1000px;
    top: 40px;
    height: 80vh;
  }

  .btnCopy{
    position: relative;
    background: #0A3871;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 38px;
    color: #FFF;
    border-radius: 10px;
    margin-top: 3rem;
    margin: 1rem;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width:672px){

  html{
    width:fit-content;
    justify-content: center;
    max-width: 100%;
    
  }

  body{
    width: 90vw;
  }
    
  main {
    display: flex;
    flex-direction: column;
       
  }

  .mensagem{
    width:fit-content;
    justify-content: center;
    margin-left: 32px;

  }

  .buttons{
    display: flex;
    flex-direction: column;
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}